<div class="sidebar">
    <div class="name">
        <img src="../../../assets/gadget.jpg" class="profile_image" alt="">
        <h4>Joeffrey</h4>
    </div>
<div>
    <a routerLink="/dashboard"><i class="fa-solid fa-desktop"></i><span>Dashboard</span></a>
    <a routerLink="/user-management"><i class="fa-solid fa-cogs"></i><span>User-Management</span></a>
    <a routerLink="/product"><i class="fa-solid fa-table"></i><span>Products</span></a>`
    <a routerLink="/registration"><span>Registration</span></a>
</div>
