<div class="header">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <div class="card">
        <h2>Item Sold(100pcs)</h2>
        <p>AirPod 2nd Gen</p>
        <img src="../../../assets/17.webp" class="profile_image" alt="">
    </div>

    <div class="card">
        <h2>Items Sold(300pcs)</h2>
        <p>Iphone12 pro max</p>
        <img src="../../../assets/12.webp" class="profile_image" alt="">

    </div>

    <div class="card">
        <h2>Item Sold(120pcs)</h2>
        <p>iPhone14</p>
        <img src="../../../assets/14.webp" class="profile_image" alt="">
    </div>

    <div class="card">
        <h2>Item Sold(200pcs)</h2>
        <p>Iphone11 </p>
        <img src="../../../assets/11.webp" class="profile_image" alt="">
    </div>
</div>