<div class="header">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <div class="cards">
        <h2>Item Sold(100pcs)</h2>
        <p>AirPod 2nd Gen</p>
        <img src="../../../assets/17.webp" class="profile_image" alt="">
        <a href="#" class="button">View Item</a>
    </div>

    <div class="two">
        <h2>Items Sold(300pcs)</h2>
        <p>Macbook pro max</p>
        <img src="../../../assets/MacBookPro.jpg" class="profile_image" alt="">
        <a href="#" class="button">View Item</a>
    </div>

    <div class="three">
        <h2>Item Sold(120pcs)</h2>
        <p>iPhone14</p>
        <img src="../../../assets/14.webp" class="profile_image" alt="">
        <a href="#" class="button">View Item</a>
    </div>

    <div class="four">
        <h2>Ipad pro(200pcs)</h2>
        <p>Iphone11 </p>
        <img src="../../../assets/ipadPro.jpg" class="profile_images" alt="">
        <a href="#" class="buttons">View Item</a>
    </div>
</div>
