<section class="products">
    <h2>Our Products</h2>
    <div class="all-products">
        <div class="product">
            <img src="../../../assets/17.webp">
            <div class="product-info">
                <h4 class="product-title">AirPod 2nd Gen
                </h4>
                <p class="product-price">Php5,000</p>
                <a class="product-btn" href="#">Purchased</a>

            </div>
        </div>
        <div class="product">
            <img src="../../../assets/12.webp">
            <div class="product-info">
                <h4 class="product-title">Iphone12 pro max
                </h4>
                <p class="product-price">Php35,000</p>
                <a class="product-btn" href="#">Purchased</a>

            </div>
        </div>
        <div class="product">
            <img src="../../../assets/14.webp">
            <div class="product-info">
                <h4 class="product-title">iPhone14
                </h4>
                <p class="product-price">Php55,000</p>
                <a class="product-btn" href="#">Purchased</a>

            </div>
        </div>
        <div class="product">
            <img src="../../../assets/11.webp">
            <div class="product-info">
                <h4 class="product-title">Iphone11 
                    </h4>
                <p class="product-price">Php23,000</p>
                <a class="product-btn" href="#">Purchased</a>

            </div>
        </div>
    </div>
</section>