<section class="products">
    <h2>Our Products</h2>
    <div class="all-products">
        <div class="product">
            <img src="../../../assets/17.webp">
            <div class="product-info">
                <h4 class="product-title">AirPod 2nd Gen
                </h4>
                <p class="product-price">Php5,000</p>
                <a class="product-btn" href="#">Purchased</a>

            </div>
        </div>
        <div class="product">
            <img src="../../../assets/MacBookPro.jpg" class="profile">
            <div class="product-info">
                <h4 class="product-title">Macbook Pro
                </h4>
                <p class="product-price">Php150,000</p>
                <a class="product-btns" href="#">Purchased</a>

            </div>
        </div>
        <div class="product">
            <img src="../../../assets/14.webp">
            <div class="product-info">
                <h4 class="product-title">iPhone14
                </h4>
                <p class="product-price">Php55,000</p>
                <a class="product-btn" href="#">Purchased</a>

            </div>
        </div>
        <div class="product">
            <img src="../../../assets/ipadPro.jpg" class="ipad">
            <div class="product-info">
                <h4 class="product-title">Ipad Pro
                    </h4>
                <p class="product-price">Php34,000</p>
                <a class="product-btn2" href="#">Purchased</a>

            </div>
        </div>
    </div>
</section>